*{
  margin: 0;
  padding: 0;
box-sizing: border-box;

}



body {
  margin-bottom: 60px;
  
}

.hidden{
  opacity: 0;
}

#main_navbar{
  margin-bottom: 0px;
      margin-top: 0;
}

.sw-hidden{
  display:none;
}

.sw-menu-link {    
    cursor: pointer;    
}

.sw-menu-link:hover{
    border-left: rgb(218, 0, 114) 1px solid;
    cursor: pointer;
    background: rgba(0,0,0,0.1) !important;
}